## Preparando dados para plotagem em outro projeto

In [5]:
import pandas as pd

In [6]:
top = 'germany'
# file = 'h1_min_nodes_alloc_'+top+'_new.csv'
# file = 'h2_min_residual_'+top+'_new.csv'
file = 'h3_min_hops_'+top+'_new.csv'
df = pd.read_csv(file)

In [7]:
df.head()

,Application,MinHops,MeanMinHops,StdMinHops,MeanTime,BestAllocations
0,App0,23.0,26.83,1.985220,0.000571,"[(0, 16), (1, 9), (2, 9), (3, 9), (4, 23), (5,..."
1,App1,19.0,22.91,2.608045,0.000555,"[(0, 17), (1, 17), (2, 24), (3, 24), (4, 24), ..."
2,App2,25.0,28.09,1.588049,0.000569,"[(0, 44), (1, 10), (2, 14), (3, 12), (4, 28), ..."
3,App3,20.0,29.25,3.453621,0.000597,"[(0, 9), (1, 9), (2, 19), (3, 16), (4, 28), (5..."
4,App4,2.0,4.88,1.498533,0.000244,"[(0, 13), (1, 13), (2, 13), (3, 13), (4, 8), (..."

In [8]:
# Suponha que df já contenha os dados com a coluna 'Application', 'BestAllocations' e 'MeanTime'

def format_row(row):
    alloc_str = str(row['BestAllocations'])
    time_str = f"['{row['MeanTime']:.8f}']"
    return f'{row["Application"]},"({alloc_str}, {time_str})"'

# Aplica a formatação
df['Formatted'] = df.apply(format_row, axis=1)

# Salva sem aspas duplicadas
with open('formatted_'+file, 'w', newline='') as f:
    for line in df['Formatted']:
        f.write(line + '\n')